diffusers==0.25.1
torch==2.0.1
torchvision==0.15.2
transformers==4.37.1
accelerate
safetensors
einops
omegaconf
peft
huggingface-hub>=0.20.2
opencv-python
gradio==4.0.0
controlnet_aux
gdown
opencv-python
httpx==0.23.3
timm
ftfy
facexlib
insightface
onnxruntime-gpu
tb-nightly
basicsr
dashscope
git+https://github.com/matthias-wright/art-fid.git
lpips
pytorch-fid
git+https://github.com/openai/CLIP.git
clip-score
